@import url(reset.css);
/* ========= ПІДКЛЮЧЕННЯ ШРИФТІВ ========= */
/* теж через google fonts import */
/* тут теж тре видалили зайві шрифти і дописати &display=swap */
@import url(https://fonts.googleapis.com/css?family=Poppins:100,300,500,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Solitreo:regular);

/* body{
    font-family: "Poppins";
} */
/* ============================================================== */
/* Times New Roman - практически везде шрифт по умолчанию */
/* если нет нужного шрифта, браузер юзан'т семейтво шрифтов по умолчанию */
/* тому треба завжди всі шрифти мати з собою тобто вони мають бути доступні у папці fonts */
/* body{
    font-family: Arial, Helvetica, sans-serif;
} */

/* ================================================================= */

/* @font-face{} - для подключения своих скачаніх шрифтов которіх нет на GoogleFonts */

@font-face {
    font-family: "CircularStd";
    src: url(/fonts/CircularStd-Bold.woff2) format(woff2), url(../fonts/CircularStd-Bold.woff) format(woff);
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CircularStd";
    src: url(../fonts/CircularStd-Book.woff2) format(woff2), url(../fonts/CircularStd-Book.woff) format(woff);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: "CircularStd";
    font-weight: 500;
    font-size: 18px;
}

/* .title{
    font-family: "Solitreo";
} */

/* ================================================================= */
/*                        Властивості Шрифтів                        */
/* ================================================================= */


/* Встановлює родину шрифту:  */
/* font-family: "Ім'я шрифту","Ім'я шрифту", тип шрифту; */
/* успадковується */
/* якщо жодного з зазначених шрифтів не буде то використається той що має користувач і відбиратиметься За Типом */

/* Типи шрифтів:  */
/* 
serif - шрифт з зарубками (засечками)
sans-serif - рублений (без засечек)
cursive - курсивні шрифти
fantasy - декоративні 
monospace - моноширинні 
*/

.title{
    font-family: "Poppins", sans-serif;
}

/* 
Встановлює РОЗМІР ШРИФТУ:
по ДЕФОЛТУ 16px, якщо в браузері не вказане інше */
/* успадковується */

.title{
    font-size: 24px;
}

/* 
font-style - стиль шрифту
успадковується */
/* 
normal - по умолчанию
italic - курсив
oblique - нахилення літер
 */

.title{
    font-style: italic;
}

/* 
font-weight - толщина шрифта
значение может быть циферным или словесным:
 */
 /* 
 100 - thin
 300 - lite
 400 - Regular (normal)(по умолчанию)
 500 - medium
 600 - semibold
 700 - bold
 900 - black
 */

 .title{
    font-weight: 700;
 }

 /* ===================================================== */
 /*                   ВЛАСТИВОСТІ ТЕКСТУ                  */
 /* ===================================================== */

 /* 
 color
 успадковується 
 */
/* 
ВИрівнювання тексту:
text-align: значення;
успадковується (текстом)

center -по центру
left - по лівому краю
right -по правому краю
justify - по всій ширині обьєкту, автоматично смінюючи пробіли між словами

*/

.text {
    text-align-last: justify;
}

/* 
text-decoration: значення;

line-through - закреслений текст
overline - лінія над текстом
underline - підкреслений текст
none - по дефолту (відмінить усю декорацію )
 */

/* 
text-shadow: значення;
значения:
смещение по Х, смещение по Y, размер тени, цвет тени

унаследуется
 */
.text{
    text-shadow: 2px 2px 5px #000;
}

/* МУЛЬТИТЕНЬ , когда параметрі через запятую : */

.text{
    text-shadow: -2px -5px 2px #000, 2px 2px 5px yellow;
}

/* 
text-transform: значення;
Встановлює регіст
успадковується
capitalise - каждое слово с заглавной буквы
uppercase - все букві заглавніе
lowercase - все маленькие
none - по умолчанию или сбрасівает вс' ранее заданое
 */

.text{
    text-transform: capitalize;
}

/* 
line-height: значення; (значення можна вказати в пікселях, % або в частинах

!! при заданні висоти у % - вона не успадкується дочірніми елементами !!

!! краще використовувати частини при встановленні розміру !!

устанавливает вісоту строки
 
Перевести пікселі в частини:
значення line-height поділити на значення font-size

(line-height: 1; буде дорівнювати висоті шрифта)

успадковується(текстом)
 */

.text{
    line-height: 2;
}

/* 
text-indent: значення;
задає відступ абзацу (відступ зліва у першого рядка тексту)
успадковується

використовується рідко
 */
.text{
    /* text-indent: 20px; */
}

/* 
letter-spacing: значення;

інтервал між літерами
 */

.title{
    letter-spacing: 10px;
}

/* 
white-space: значення;

Керує поведінкою пробілів між словами

nowrap - забороняє перенос рядка
normal - по дефолту або відміняє раніше заданий параметр

успадковується
 */

.text{
    white-space: nowrap;
}
.text{
    white-space: normal;
}

/* 
word-spacing: значення;
інтервал між словами

успадковується
 */

.text{
    /* word-spacing: 20px; */
}