@import url(reset.css);
.wrapper{
    overflow: clip;
    padding: 50px;
}

/* [class*="__container"]{
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.293);
} */

[class*="__block"]{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
}

/* .rotate-x__container{

} */
.rotate-x__block{

    transform: rotateX(20deg);
}