@import url(reset.css);

body {
    font-family: serif;
}

.wrapper{
    overflow: hidden;
    /* что б обёртка была на всю высоту вьюпорта не зависимо от размера гаджета*/
    min-height: 100%;
}

.block-1,
.block-2,
.block-3 {

    padding: 15px;
    font-size: 40px;
    color: #fff;
}

.block-1 {
    background-color: aqua;
}

.block-2 {
    background-color: rgb(189, 135, 240);
}

.block-3 {
    background-color: rgb(193, 253, 133);
}

/* позиционирование */

/* 
рассмотрим
Cвойства:

position,
top,
left,
right,
bottom,
z-index.

 */


/* ===============================
             static 
     (  position: static; )
 =============================== */
/* по умолчанию - все наши обьекты имеют:
  position: static; 

  static - статическое позиционирование (по умолчанию)
 */
/* .block-1{ 
     position:static;
     left: 20px;
      */
/* 
    позиционирование типа ввыключено
    left: 20px; не работает
*/
/* } */

/* ===============================
             relative  
     (  position: relative; )
 =============================== */

/* relative - относительное позиционирование.
 обьект позиционируется относительно своего текущего местоположения (местоположения в коде) */


/* .page {
    overflow: hidden;
} */

.block-2 {
    position: relative;

    /*==============================================
    
    relative - как бы включает возможность позиуионирования
    в этом режиме top, left,right, bottom & z-index - доступны
    
    ============================================================*/

    left: 50px;
    /*cдвиг обьекта от правого края вправо на 20px*/
    top: -10px;
    /*cдвиг при '+' значении идёт сверху вниз от верхней границы,
    при '-' значении уезжает на заданную высоту вверх*/

    /* !!!!!    можно задавать сдвиг в % НО !!!
    по оси Y - ТОЛЬКО КОГДА У РОДИТЕЛЬСКОГО ЭЛЕМЕНТА БУДЕТ ЧЕТКО ПРОПИСАНЫ РАЗМЕРЫ */

    /* 
    top: 20%; 
    не работает потому что не задана высота родительского блока*/
    left: 50%;


    /* top: 10px; === bottom: -10px */
    /* left: 10px; === right: -10px */

    /* При позиционировании обьект может выйти за границы вьюпорта
    появится не нужный скрол

    Фикс:

    1) НЕ ПРОДУКТИВНО - можно задать родителю OVERFLOW: HIDDEN; (строка 72) 
    
    2) !!!!   ПРОДУКТИВНО :!!!
    создать div с class="wrapper" и засунуть в него всю вёрстку после тега body (cтрока 7)
    */
}

/* 
если всем трём блокам задать position: relative; то  у них у всех заработает z-index  

верхним из слоёв будет тот который написан ниже по коду в HTML файле :
 */

 .block-1{
    position: relative;
 }

 .block-3{
    position: relative;
    top: -20px;
 }