@import url(reset.css);

body{
    line-height: normal;
}

.nav-container{
    text-transform: capitalize;
    text-align: justify;
}
/* .nav-part-left{
}
.nav-part-right{
} */
.no-transform{
    text-transform: none;
}