@font-face {
    font-family: 'Striverx';
    src: url('Striverx.woff2') format('woff2'),
        url('Striverx.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

