@font-face {
    font-family: 'Nirvana';
    src: url('Nirvana.woff2') format('woff2'),
        url('Nirvana.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

